# DCA Loan Transaction Exploratory Data Analysis

This Jupyter notesbook contains an analysis on loan transactions backed by the US Development Credit Authority (DCA). The data was sourced from data.gov. The raw dataset was last updated by the USAID on 11/29/2021.

In [106]:
#importing pandas, the dataframe and checking the first few rows
import pandas as pd
df = pd.read_csv("Loan Transactions.csv")
df.head()

,Guarantee Number,Transaction Report ID,Guarantee Country Name,Amount (USD),Currency Name,Disbursement Date,End Date,Business Sector,City/Town,State/Province/Region Name,State/Province/Region Code,State/Province/Region Country Name,Region Name,Is Woman Owned?,Is First Time Borrower?,Business Size,Latitude,Longitude
0,099-DCA-09-006A (Asociacion Arariwa),356191,Worldwide,9.801444e+05,PERU - NUEVO SOL,09/20/2011 12:00:00 AM,09/09/2013 12:00:00 AM,NaN,Cusco,Cusco,PE08,Peru,LATIN AMERICA & THE CARIBBEAN,0,1,>100,-13.518333,-71.978056
1,099-DCA-09-006B (Pro Mujer Peru),331620,Worldwide,1.960289e+06,PERU - NUEVO SOL,09/20/2011 12:00:00 AM,09/04/2014 12:00:00 AM,NaN,Puno,Puno,PE21,Peru,LATIN AMERICA & THE CARIBBEAN,0,0,>100,-15.000000,-70.000000
2,099-DCA-09-006C (ProEmpresa),349835,Worldwide,2.007491e+06,PERU - NUEVO SOL,01/18/2012 12:00:00 AM,08/05/2013 12:00:00 AM,NaN,Lima,Lima,PE15,Peru,LATIN AMERICA & THE CARIBBEAN,0,1,>100,-12.000000,-76.833333
3,099-DCA-09-006D (Pro Mujer Peru),385807,Worldwide,1.030888e+06,PERU - NUEVO SOL,04/11/2012 12:00:00 AM,03/31/2015 12:00:00 AM,NaN,Puno,NaN,NaN,NaN,NaN,0,0,>100,NaN,NaN
4,099-DCA-09-006F (COCLA),473058,Worldwide,1.780000e+06,UNITED STATES - DOLLAR,08/15/2012 12:00:00 AM,08/20/2014 12:00:00 AM,NaN,Cusco,Cusco,PE08,Peru,LATIN AMERICA & THE CARIBBEAN,0,0,NaN,-13.518333,-71.978056

In [107]:
# Removing header whitespaces preceding/following text and making column headers lowercase
cols = df.columns
cols = [x.lower().strip() for x in cols]
df.columns=cols
df.head()

,guarantee number,transaction report id,guarantee country name,amount (usd),currency name,disbursement date,end date,business sector,city/town,state/province/region name,state/province/region code,state/province/region country name,region name,is woman owned?,is first time borrower?,business size,latitude,longitude
0,099-DCA-09-006A (Asociacion Arariwa),356191,Worldwide,9.801444e+05,PERU - NUEVO SOL,09/20/2011 12:00:00 AM,09/09/2013 12:00:00 AM,NaN,Cusco,Cusco,PE08,Peru,LATIN AMERICA & THE CARIBBEAN,0,1,>100,-13.518333,-71.978056
1,099-DCA-09-006B (Pro Mujer Peru),331620,Worldwide,1.960289e+06,PERU - NUEVO SOL,09/20/2011 12:00:00 AM,09/04/2014 12:00:00 AM,NaN,Puno,Puno,PE21,Peru,LATIN AMERICA & THE CARIBBEAN,0,0,>100,-15.000000,-70.000000
2,099-DCA-09-006C (ProEmpresa),349835,Worldwide,2.007491e+06,PERU - NUEVO SOL,01/18/2012 12:00:00 AM,08/05/2013 12:00:00 AM,NaN,Lima,Lima,PE15,Peru,LATIN AMERICA & THE CARIBBEAN,0,1,>100,-12.000000,-76.833333
3,099-DCA-09-006D (Pro Mujer Peru),385807,Worldwide,1.030888e+06,PERU - NUEVO SOL,04/11/2012 12:00:00 AM,03/31/2015 12:00:00 AM,NaN,Puno,NaN,NaN,NaN,NaN,0,0,>100,NaN,NaN
4,099-DCA-09-006F (COCLA),473058,Worldwide,1.780000e+06,UNITED STATES - DOLLAR,08/15/2012 12:00:00 AM,08/20/2014 12:00:00 AM,NaN,Cusco,Cusco,PE08,Peru,LATIN AMERICA & THE CARIBBEAN,0,0,NaN,-13.518333,-71.978056

In [108]:
# Removing time from the disbursement date header
pattern="(^[\w]{2}/[\w]{2}/[\w]{4})(?: [\w]{2}:[\w]{2}:[\w]{2} [\w]{2}$)"
df['disbursement date']=df['disbursement date'].str.extract(pattern)
df['disbursement date'].head()

0    09/20/2011
1    09/20/2011
2    01/18/2012
3    04/11/2012
4    08/15/2012
Name: disbursement date, dtype: object

In [109]:
# Removing time from the end date column in the same way as the previous cell
df['end date']=df['end date'].str.extract(pattern)
df['end date'].head()

0    09/09/2013
1    09/04/2014
2    08/05/2013
3    03/31/2015
4    08/20/2014
Name: end date, dtype: object

In [110]:
# Transforming date columns into year columns so we can later visualise loans advanced by year
pattern="(?:^[\d]{2}/[\d]{2}/)([\d]{4})"
df['disbursement date']=df['disbursement date'].str.extract(pattern)
df['end date']=df['end date'].str.extract(pattern)
df.head()

,guarantee number,transaction report id,guarantee country name,amount (usd),currency name,disbursement date,end date,business sector,city/town,state/province/region name,state/province/region code,state/province/region country name,region name,is woman owned?,is first time borrower?,business size,latitude,longitude
0,099-DCA-09-006A (Asociacion Arariwa),356191,Worldwide,9.801444e+05,PERU - NUEVO SOL,2011,2013,NaN,Cusco,Cusco,PE08,Peru,LATIN AMERICA & THE CARIBBEAN,0,1,>100,-13.518333,-71.978056
1,099-DCA-09-006B (Pro Mujer Peru),331620,Worldwide,1.960289e+06,PERU - NUEVO SOL,2011,2014,NaN,Puno,Puno,PE21,Peru,LATIN AMERICA & THE CARIBBEAN,0,0,>100,-15.000000,-70.000000
2,099-DCA-09-006C (ProEmpresa),349835,Worldwide,2.007491e+06,PERU - NUEVO SOL,2012,2013,NaN,Lima,Lima,PE15,Peru,LATIN AMERICA & THE CARIBBEAN,0,1,>100,-12.000000,-76.833333
3,099-DCA-09-006D (Pro Mujer Peru),385807,Worldwide,1.030888e+06,PERU - NUEVO SOL,2012,2015,NaN,Puno,NaN,NaN,NaN,NaN,0,0,>100,NaN,NaN
4,099-DCA-09-006F (COCLA),473058,Worldwide,1.780000e+06,UNITED STATES - DOLLAR,2012,2014,NaN,Cusco,Cusco,PE08,Peru,LATIN AMERICA & THE CARIBBEAN,0,0,NaN,-13.518333,-71.978056

In [111]:
# Removing unneeded columns for this analysis
del(df['latitude'])
del(df['longitude'])
del(df['currency name'])
del(df['state/province/region code'])
del(df['business size'])

# Renaming columns
df=df.rename(columns={'state/province/region name': 'state', 'state/province/region country name': 'country', 'city/town':'city'}) 

df.head()

,guarantee number,transaction report id,guarantee country name,amount (usd),disbursement date,end date,business sector,city,state,country,region name,is woman owned?,is first time borrower?
0,099-DCA-09-006A (Asociacion Arariwa),356191,Worldwide,9.801444e+05,2011,2013,NaN,Cusco,Cusco,Peru,LATIN AMERICA & THE CARIBBEAN,0,1
1,099-DCA-09-006B (Pro Mujer Peru),331620,Worldwide,1.960289e+06,2011,2014,NaN,Puno,Puno,Peru,LATIN AMERICA & THE CARIBBEAN,0,0
2,099-DCA-09-006C (ProEmpresa),349835,Worldwide,2.007491e+06,2012,2013,NaN,Lima,Lima,Peru,LATIN AMERICA & THE CARIBBEAN,0,1
3,099-DCA-09-006D (Pro Mujer Peru),385807,Worldwide,1.030888e+06,2012,2015,NaN,Puno,NaN,NaN,NaN,0,0
4,099-DCA-09-006F (COCLA),473058,Worldwide,1.780000e+06,2012,2014,NaN,Cusco,Cusco,Peru,LATIN AMERICA & THE CARIBBEAN,0,0

In [112]:
# NA and NaN observations cannot be guessed nor estimated for this study. As such, the inclusion of NA and NaN studies
df=df.dropna()
df=df.reset_index()
df=df.drop('index', axis='columns')
df

,guarantee number,transaction report id,guarantee country name,amount (usd),disbursement date,end date,business sector,city,state,country,region name,is woman owned?,is first time borrower?
0,674-DCA-11-016,369568,South Africa,54578.5324,2012,2017,Trade/Commerce,Potchefstroom,North-West,South Africa,AFRICA,0,0
1,674-DCA-11-016,385756,South Africa,83365.1784,2012,2017,Manufacturing,Port Elizaberth,Eastern Cape,South Africa,AFRICA,0,1
2,674-DCA-11-016,420663,South Africa,288738.5438,2013,2017,Other Service,Durban,KwaZulu-Natal,South Africa,AFRICA,1,1
3,674-DCA-11-016,433368,South Africa,89099.6499,2013,2018,Agriculture,Parys,Free State,South Africa,AFRICA,0,1
4,674-DCA-11-016,435375,South Africa,146061.6088,2013,2018,Trade/Commerce,Sandton,Gauteng,South Africa,AFRICA,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128132,620-DCA-06-001,271668,Nigeria,67998.3000,2008,2018,Agriculture,Abuja,Nigeria (general),Nigeria,AFRICA,0,0
128133,620-DCA-06-001,271670,Nigeria,67998.3000,2008,2014,Agriculture,Enugu,Enugu,Nigeria,AFRICA,0,0
128134,620-DCA-06-001,271671,Nigeria,67998.3000,2008,2018,Agriculture,Onitsha,Anambra,Nigeria,AFRICA,0,0
128135,620-DCA-06-001,271672,Nigeria,67998.3000,2008,2018,Agriculture,Lagos,Lagos,Nigeria,AFRICA,0,0
128136,620-DCA-06-001,271674,Nigeria,67998.3000,2008,2015,Agriculture,Abuja,Nigeria (general),Nigeria,AFRICA,0,0

In [113]:
dfsector=df.set_index(['region name', 'business sector'])
dfsector

                            guarantee number  transaction report id  \
region name business sector
AFRICA      Trade/Commerce    674-DCA-11-016                 369568
            Manufacturing     674-DCA-11-016                 385756
            Other Service     674-DCA-11-016                 420663
            Agriculture       674-DCA-11-016                 433368
            Trade/Commerce    674-DCA-11-016                 435375
...                                      ...                    ...
            Agriculture       620-DCA-06-001                 271668
            Agriculture       620-DCA-06-001                 271670
            Agriculture       620-DCA-06-001                 271671
            Agriculture       620-DCA-06-001                 271672
            Agriculture       620-DCA-06-001                 271674

                            guarantee country name  amount (usd)  \
region name business sector
AFRICA      Trade/Commerce            South Africa    54578.5324
            Manufacturing             South Africa    83365.1784
            Other Service             South Africa   288738.5438
            Agriculture               South Africa    89099.6499
            Trade/Commerce            South Africa   146061.6088
...                                            ...           ...
            Agriculture                    Nigeria    67998.3000
            Agriculture                    Nigeria    67998.3000
            Agriculture                    Nigeria    67998.3000
            Agriculture                    Nigeria    67998.3000
            Agriculture                    Nigeria    67998.3000

                            disbursement date end date             city  \
region name business sector
AFRICA      Trade/Commerce               2012     2017    Potchefstroom
            Manufacturing                2012     2017  Port Elizaberth
            Other Service                2013     2017           Durban
            Agriculture                  2013     2018            Parys
            Trade/Commerce               2013     2018          Sandton
...                                       ...      ...              ...
            Agriculture                  2008     2018            Abuja
            Agriculture                  2008     2014            Enugu
            Agriculture                  2008     2018          Onitsha
            Agriculture                  2008     2018            Lagos
            Agriculture                  2008     2015            Abuja

                                         state       country  is woman owned?  \
region name business sector
AFRICA      Trade/Commerce          North-West  South Africa                0
            Manufacturing         Eastern Cape  South Africa                0
            Other Service        KwaZulu-Natal  South Africa                1
            Agriculture             Free State  South Africa                0
            Trade/Commerce             Gauteng  South Africa                0
...                                        ...           ...              ...
            Agriculture      Nigeria (general)       Nigeria                0
            Agriculture                  Enugu       Nigeria                0
            Agriculture                Anambra       Nigeria                0
            Agriculture                  Lagos       Nigeria                0
            Agriculture      Nigeria (general)       Nigeria                0

                             is first time borrower?
region name business sector
AFRICA      Trade/Commerce                         0
            Manufacturing                          1
            Other Service                          1
            Agriculture                            1
            Trade/Commerce                         1
...                                              ...
            Agriculture                            0
            Agriculture                            0
            Agriculture                            0
            Agriculture                            0
            Agriculture                            0

[128137 rows x 11 columns]

In [114]:
dfsector.to_csv('DCA Loan Data.csv')

In [115]:
dfsector

                            guarantee number  transaction report id  \
region name business sector
AFRICA      Trade/Commerce    674-DCA-11-016                 369568
            Manufacturing     674-DCA-11-016                 385756
            Other Service     674-DCA-11-016                 420663
            Agriculture       674-DCA-11-016                 433368
            Trade/Commerce    674-DCA-11-016                 435375
...                                      ...                    ...
            Agriculture       620-DCA-06-001                 271668
            Agriculture       620-DCA-06-001                 271670
            Agriculture       620-DCA-06-001                 271671
            Agriculture       620-DCA-06-001                 271672
            Agriculture       620-DCA-06-001                 271674

                            guarantee country name  amount (usd)  \
region name business sector
AFRICA      Trade/Commerce            South Africa    54578.5324
            Manufacturing             South Africa    83365.1784
            Other Service             South Africa   288738.5438
            Agriculture               South Africa    89099.6499
            Trade/Commerce            South Africa   146061.6088
...                                            ...           ...
            Agriculture                    Nigeria    67998.3000
            Agriculture                    Nigeria    67998.3000
            Agriculture                    Nigeria    67998.3000
            Agriculture                    Nigeria    67998.3000
            Agriculture                    Nigeria    67998.3000

                            disbursement date end date             city  \
region name business sector
AFRICA      Trade/Commerce               2012     2017    Potchefstroom
            Manufacturing                2012     2017  Port Elizaberth
            Other Service                2013     2017           Durban
            Agriculture                  2013     2018            Parys
            Trade/Commerce               2013     2018          Sandton
...                                       ...      ...              ...
            Agriculture                  2008     2018            Abuja
            Agriculture                  2008     2014            Enugu
            Agriculture                  2008     2018          Onitsha
            Agriculture                  2008     2018            Lagos
            Agriculture                  2008     2015            Abuja

                                         state       country  is woman owned?  \
region name business sector
AFRICA      Trade/Commerce          North-West  South Africa                0
            Manufacturing         Eastern Cape  South Africa                0
            Other Service        KwaZulu-Natal  South Africa                1
            Agriculture             Free State  South Africa                0
            Trade/Commerce             Gauteng  South Africa                0
...                                        ...           ...              ...
            Agriculture      Nigeria (general)       Nigeria                0
            Agriculture                  Enugu       Nigeria                0
            Agriculture                Anambra       Nigeria                0
            Agriculture                  Lagos       Nigeria                0
            Agriculture      Nigeria (general)       Nigeria                0

                             is first time borrower?
region name business sector
AFRICA      Trade/Commerce                         0
            Manufacturing                          1
            Other Service                          1
            Agriculture                            1
            Trade/Commerce                         1
...                                              ...
            Agriculture                            0
            Agriculture                            0
            Agriculture                            0
            Agriculture                            0
            Agriculture                            0

[128137 rows x 11 columns]